* {
    font-family: 'Roboto', sans-serif;
    transition: all .5s;
}

body{
    margin: 0;
}

.editable-container{
    background-color: steelblue;
    padding: 0 100px;
    text-align: center;
}

.title{
    color: #fff;
}

.task-field-container{

}

#type-task-field{
    display: block;
    width: 60%;
    margin: 20px auto;
    outline: none;
}
